body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #0c3d14;
  background: #b9eec2;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 11rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
  
}